.env
# データベースファイル
db/db/mysql.sock

# ログファイル
app/azureapp/uwsgi.log

# node_modules
node_modules/

# Python コンパイル済みファイル
__pycache__/
*.pyc

# アプリケーションログファイル
app/azureapp/uwsgi.log

# データベースファイル
db/db/

# その他のバイナリファイル、ログファイル等
*.log
*.db
*.sql
*.ibt
binlog.*
ib_buffer_pool
ibdata1
ibtmp1
*.ibd
undo_*app/azureapp/uwsgi.log
