{% extends "layout.html" %}
{% block login %}
<button type="button" class="btn btn-outline-dark me-1 float-end" onclick="location.href='/login'">Log in</button>
{% endblock %}
{% block signup %}
<button type="button" class="btn btn-outline-dark me-1 float-end" onclick="location.href='/signup'">Sign Up</button>
{% endblock %}

{% block content %}
	<html><body><h1>Login Form</h1>
	<form action="/check_login" method="POST">
	Username: <br/>
	<input type="text" name="user" maxlength="10"><br>
	Password: <br>
	<input type="password" name="pw" minlength="5"><br>
	<input class="mt-3 mb-3" type="submit" value="ログイン">
	</form>
	<p><a href="/signup">→For the first time users</a></p>
{% endblock %}
