{% extends "layout.html" %}
{% block login %}
<button type="button" class="btn btn-outline-dark me-1 float-end" onclick="location.href='/login'">ログイン</button>
{% endblock %}
{% block signup %}
<button type="button" class="btn btn-outline-dark me-1 float-end" onclick="location.href='/signup'">サインアップ</button>
{% endblock %}

{% block content %}
	<html><body><h1>ログインフォーム</h1>
	<form action="/check_login" method="POST">
	ユーザー名: <br/>
	<input type="text" name="user" maxlength="10"><br>
	パスワード: <br>
	<input type="password" name="pw" minlength="5"><br>
	<input class="mt-3 mb-3" type="submit" value="ログイン">
	</form>
	<p><a href="/signup">→初めての方</a></p>
{% endblock %}
