{% extends "layout.html" %}
{% block content %}

    <div class="container align-center">
        <div class="row" > <h1>Current Projects</h1></div>
        <div class = "row">
            <div class="col-md-12" style="display: flex; flex-direction: column"> <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Project Name</th>
                        <th scope="col">State</th>
                        <th scope="col">Term</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for project in projects[-3:] %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ project[1] }}</td>
                        </tr>
                        {% endfor %}
                    </tr>

                </tbody>
            </table>
        </div>
       
        </div>
    </div>

{% endblock %} 