{% extends "layout.html" %}
{% block login %}
<button type="button" class="btn btn-outline-dark me-1 float-end" onclick="location.href='/login'">Log in</button>
{% endblock %}
{% block signup %}
<button type="button" class="btn btn-outline-dark me-1 float-end" onclick="location.href='/signup'">Sign Up</button>
{% endblock %}

{% block content %}
    <html><body><h1>Registration</h1>
		        <form action="/check_signup" method="POST">
				    Username: <br/>
				        <input type="text" name="user" maxlength="10"><br>
					    Password: <br>
					        <input type="password" name="pw" minlength="5"><br>
						    <input type="submit" value="Resister">
						        </form>
	<p><a href="/">→return</a></p>

{% endblock %}
