
{% extends "layout.html" %}
{% block content %}
<div class="py-5">
    <div class="container">
        <div class="d-flex flex-column">
            <div class="row">
                <h1>Tasks</h1>
            </div>
            <div class="row flex-nowrap flex-grow-1 overflow-auto rounded-3">
                {% for task in tasks %}
                    <div class="col-md-4 gy-1">
                        <div class="card">
                            <div class="card-header">
                                {{ task.header }}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ task.task_name }}</h5>
                                <p class="card-text">{{ task.days_range }}</p>
                                
                                <a href="#" class="card-link" data-toggle="modal" data-target="#detailModal" data-task-id="{{ task.task_id }}" data-task-detail="{{ task.details | join(', ') }}">Detail</a>
                                <a href="#" class="card-link" data-toggle="modal" data-target="#changeDeadlineModal">Change</a>
                                <a href="#" class="btn btn-light complete-task" role="button" data-task-id="{{ task.task_id }}">Complete</a>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %} 