<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <!--Bootstrap Icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>
        タイトル
    </title>
    <style>
        /*sticky header*/

        html, body {
            height: 100%;
        }
        footer {
            position: sticky;
            top: 100vh;
            top: 100dvh;
        }
        /* CSS goes here */
    </style>
    <title>
        Title
    </title>
    </head>
    <body>
        
        <!--ヘッダー-->
        <header class="py-1 align-item-center">
            <div class ="container text-center">
                <h1><a href="welcome.html"><img class="mw-50" src="../static/img/taskman_circle.png" alt="Taskman" style="max-width: 90px;"></a></h1>
            </div>
        </header>
        <!--／ヘッダー--><!--ナビゲーションバー-->
<!-- ナビゲーションバー -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container">
      <!-- サブコンポーネント -->
      <!-- ブランド -->
      <a class="navbar-brand" onclick="location.href='/'" style="font-family: monaco;">Taskman</a>
      <!-- 切り替えボタン -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- ナビゲーション -->
      <div class="collapse navbar-collapse" id="navbar-content">
        <!-- ナビゲーションメニュー -->
        <!-- 左側メニュー：トップページの各コンテンツへのリンク -->
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" onclick="location.href='/'">Home<span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="location.href='/'">Description</a>
        </ul>
    
        <ul class="navbar-nav">
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-info text-dark" onclick="location.href='/login'">Log in</button>
          </li>
          <li>
            <button type="button" class="nav-link btn btn-info text-dark" onclick="location.href='/signup'">Sign Up</button>
          </li>
        </ul>
        <!-- /ナビゲーションメニュー -->
      </div>
      <!-- /サブコンポーネント -->
    </div>
  </nav>
  <!-- /ナビゲーションバー --><!--/ナビゲーションバー-->
        <!--メイン-->
        <main>
            <!--メインビジュアル-->
            <div class="py-1 bg-dark">
                <div class="card bg-dark ">
                    <img class ="card-img" src="../static/img/insert.png" alt="" class="img-fluid">
    
                </div>
            </div>
            <!--／メインビジュアル-->
            <!--コンテンツ1-->
            <div class="py-4 bg-light">
                <section id="about">
                  <div class="container">
                    <!-- 上段 -->
                    <div class="row mb-4">
                      <div class="col-md-8 mb-3">
                        <h3 class="mb-3" style="font-family: monaco;">Revolutionize task management, elevate your projects to the next level.</h3>
                        <p style="font-family: monaco;">Redefine productivity. Our app, powered by the GPT API, intuitively translates your project visions into actionable plans. Experience seamless scheduling and task organization, tailored for the ambitious minds of students and professionals. It's more than time management—it's a pathway to success, simplified.</p>
                        <button type="button" class="btn btn-info" onclick="location.href='/signup'">Sign Up</button>
                        <button type="button" class="btn btn-info" onclick="location.href='/login'">Log in</button>
                      </div>
                      <div class="col-md-4">
                        <img src="https://placehold.jp/300x200.png" alt="Our Logo" class="img-fluid"> </div>
                    </div>
                    <!-- /上段 -->
                    <!-- 下段 -->
                    <div class="row">
                      <div class="col-md-4">
                        <!-- カード01 -->
                        <div class="card mb-3">
                            <img src="https://placehold.jp/300x200.png"alt="" class="img-fluid">
                          <!-- カードの本文エリア -->
                          <div class="card-body d-flex justify-content-between">
                            <h4 class="card-title">Requirement Analysis</h4>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal01">
                              Show more
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <!-- カード02 -->
                        <div class="card mb-3">
                            <img src="https://placehold.jp/300x200.png" alt="" class="img-fluid">
                          <!-- カードの本文エリア -->
                          <div class="card-body d-flex justify-content-between">
                            <h4 class="card-title">Schedule Optimization</h4>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal02">
                              Show more
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <!-- カード03 -->
                        <div class="card mb-3">
                          <img src="https://placehold.jp/300x200.png" alt="" class="img-fluid">
                          <!-- カードの本文エリア -->
                          <div class="card-body d-flex justify-content-between">
                            <h4 class="card-title">Task Management</h4>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal03">
                              Show more
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /下段 -->
                    <!-- モーダル -->
                    <!-- モーダル01 -->
                    <div class="modal fade" id="modal01" tabindex="-1" role="dialog" aria-labelledby="modal01-label" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modal01-label"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p class="text-center">
                              <img alt="Requirement Analysis" src="https://placehold.jp/300x200.png" class="img-fluid">
                            </p>
                            <p>Utilizes the GPT API to precisely analyze users' project requests (such as app development, website creation, etc.). Presents the best plan according to the complexity and demands of the project.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- モーダル02 -->
                    <div class="modal fade" id="modal02" tabindex="-1" role="dialog" aria-labelledby="modal01-label" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modal02-label"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p class="text-center">
                              <img alt="Schedule Optimization" src="https://placehold.jp/300x200.png" class="img-fluid">
                            </p>
                            <p>Automatically creates efficient schedules based on short-term and long-term goals. Optimizes time allocation for progressing projects within deadlines and provides achievable timelines.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- モーダル03 -->
                    <div class="modal fade" id="modal03" tabindex="-1" role="dialog" aria-labelledby="modal01-label" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modal03-label">Task Management</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p class="text-center">
                              <img alt="Task management" src="https://placehold.jp/300x200.png" class="img-fluid">
                            </p>
                            <p>Identifies necessary tasks for each project and sets deadlines and priorities. Designed with an interface that makes tracking and updating progress easy, it efficiently supports the completion of tasks.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- / モーダル -->
                  </div>
                </section>
              </div>
            </div>
            <!--／コンテンツ01-->
            <!--コンテンツ02-->
            <div class="py-4">
            </div>
            <!--／コンテンツ02-->
            <!--コンテンツ03-->
            <div class="py-4">
            </div>
            <!--／コンテンツ03-->
            <!--コンテンツ04-->
            <div class="py-4">
            </div>
            <!--/コンテンツ04-->
            <!--コンテンツ05-->
            <div class="py-4">

            </div>
            <!--/コンテンツ05-->
        
        </main>
        <!--/メイン-->
        <!--フッター-->
        <footer class="py-4">
            <footer class="bg-dark text-white mt-4">
                <div class="container-fluid py-3">
                    <!-- Footer Contents -->
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-md-0">© 2024 DataDremers@KIT. All Rights Reserved.</p>
                        </div>
                        <div class="col-md-6 text-md-right">
                            <!-- Facebook -->
              <a
                class="btn btn-link btn-floating btn-lg text-light m-1"
                href="https://github.com/noboRu5525/Azure-hackathon"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-github"></i
              ></a>
            <!-- Twitter -->
            <a
              class="btn btn-link btn-floating btn-lg text-light m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter"></i
            ></a>
        
            <!-- Google -->
            <a
              class="btn btn-link btn-floating btn-lg text-light m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-google"></i
            ></a>
                        </div>
                    </div>
                </div>
            </footer>    
        </footer>

        
        <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>
</html>