* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* サイズ計算をより予測しやすくするためのプロパティ */
}
body {
  min-height: 100vh;
  min-width: 100vw;
}
h1 a:hover {
  color: black;
}
ul {
  list-style: none;
}
@media (max-width: 992px) {
  html {
    font-size: 2rem;
  }
}
.model_window_space {
  height: 90%;
  width: 90%;
  position: fixed;
  display: flex;
  gap: 16px;
  background-color: #f7f5f5;
  top: 5%;
  left: 5%;
  padding: 20px;
  border-radius: 20px;
  max-height: 90%; /* ここは必要に応じて調整してください */
  overflow-y: auto;
}
.ai_chat_space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  min-height: 90%;
  border-radius: 20px;
  border: 1px solid rgba(52, 52, 52, 0.381);
  padding: 1.25rem;
  overflow-y: scroll;
}
.preset_phrases2 {
  display: flex;
  flex-direction: column;
}
.input_text_space {
  display: flex;
  position: relative;
  background-color: #ffffff;
  height: 40px;
}
.model_window_space h3 {
  font-size: 18px;
}
.title {
  margin-left: 10px;
  margin-top: 10px;
}
.text-input {
  width: 300px; /* 入力フィールドの長さを300ピクセルに設定 */
  height: 35px;
}
.input_space .text-input {
  width: 120px; /* 入力フィールドの長さを300ピクセルに設定 */
  height: 28px;
  margin-left: 30px;
}

#make_day {
  margin-left: 30px;
}

.tipe {
  width: 100%;
}
.input_space {
  display: flex;
  flex-wrap: wrap;
}
.add-button {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #326bdb;
  color: #f7f5f5;
}
.confirm {
  width: 50px;
  height: 30px;
  margin-left: 10px;
}
.text-input {
  margin-bottom: 10px;
}
.text-input2 {
  margin-bottom: 14px;
}
.use_lang {
  display: flex;
  flex-wrap: wrap;
}
.lang {
  margin: 15px;
}
.text {
  display: flex;
}
.text p {
  margin: 14px;
}
.ai_chat_space .ai_chat_space form {
  overflow-y: auto; /* 内容が高さを超える場合にスクロールバーを表示 */
}
.title {
  margin-top: 15px;
}
.use_lang_space {
  margin-top: 30px;
}
.text_push {
  position: absolute;
  right: 0;
  top: 0;
  aspect-ratio: 1 / 1;
  font-size: 0.75rem;
  color: white;
  background-color: black;
  height: 100%;
  z-index: 2;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
}
.text_push h1 {
  color: #f7f5f5;
  font-size: 20px;
  margin: 0;
}
.create_button {
  width: auto;
  height: 50px;
  margin-top: 40px;
  margin-left: 70%;
  background-color: #326bdb;
  color: #f0f4fa;
}

.create_button3 {
  width: auto;
  height: 50px;
  margin-top: 40px;
  margin-left: 30%;
  background-color: #326bdb;
  color: #f0f4fa;
}

.create-button-eng {
  width: auto;
  height: 50px;
  margin-top: 40px;
  margin-left: 30%;
  background-color: #326bdb;
  color: #f0f4fa;
}

.no-border-input {
  background-color: transparent; /* 背景色を透明にする */
  /* その他のスタイル */
  font-size: 16px; /* フォントサイズ */
  color: #333; /* テキストカラー */
  border: 1px solid rgba(52, 52, 52, 0.381);
  border-radius: 10px;
  flex: 1 0;
  padding-left: 4px;
  z-index: 2;
}
.user-message {
  /* ユーザーのメッセージに適用されるスタイル */
  background-color: #f0f4fa; /* 好きな色を選択してください */
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}
.ai-message {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}
#chat-area {
  max-height: 100%; /* ここで最大の高さを指定 */
  overflow-y: auto; /* 縦方向のスクロールを有効にする */
  margin-bottom: 10px; /* 入力エリアとの間に余白を持たせる */
}
.use_lang_space {
  position: relative;
}
.create_button2 {
  margin-left: 20px;
  padding: 0px 8px;
  background-color: #202421;
  border-radius: 20px 20px 20px 20px;
  color: #f0f4fa;
}
.po {
  display: flex;
  width: 100%;
  align-items: center;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#chat-area-eng {
  max-height: 100%; /* ここで最大の高さを指定 */
  overflow-y: auto; /* 縦方向のスクロールを有効にする */
  margin-bottom: 10px; /* 入力エリアとの間に余白を持たせる */
}

.color-choice {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}

.color-choice {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
  position: relative; /* チェックマークのための相対位置指定 */
  border: 2px solid transparent; /* 選択されていない時のボーダー */
}

/* 選択されたときのチェックマークスタイル */
.color-choice.selected::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px; /* チェックマークの大きさ */
}

/* 選択されたときのボーダースタイル */
.color-choice.selected {
  border: 2px solid #000; /* 選択された時のボーダー */
}

.day_block {
  display: flex;
}

.topic_area {
  padding: 20px;
  background-color: #f7f5f5;
  border-radius: 20px 20px 20px 20px;
}

.topic_area2 {
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f5f5;
  border-radius: 20px 20px 20px 20px;
}

.select_topic {
  display: inline-block; /* インライン要素をブロックのように扱う */
  padding: 10px 20px; /* 上下10px、左右20pxの余白 */
  margin: 5px; /* 余白 */
  background-color: #f0f0f0; /* 背景色 */
  border-radius: 15px; /* 角の丸み */
  text-decoration: none; /* 下線を消す */
  color: #333; /* テキスト色 */
  cursor: pointer; /* カーソルスタイル */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 影のスタイル */
  transition: background-color 0.3s; /* 背景色の変化を滑らかに */
  margin-left: 30px;
}

.select_topic:hover {
  background-color: #e8e8e8; /* ホバー時の背景色 */
}

.topic_area h3 {
  margin-top: 10px;
  margin-left: 26px;
}

.topic_area2 h3 {
  margin-top: 10px;
  margin-left: 26px;
}
