<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
	<title>toDo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script type="text/javascript" src="/static/js/script.js"></script>
	<link rel="stylesheet" href="../static/css/goal.css">
  <link rel="stylesheet" href="../static/css/loading.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3213171877715325"
		     crossorigin="anonymous"></script>
</head>
<body>
  <div class="model_window_space" id="Japanese" style="display: block;">
    <div class="language-switch">
        <button id="switch-lang">English / 日本語</button>
    </div>
    <div class="ai_chat_space" id="chat-ai" style="display: none;">
      <div id="chat-area">
        <!-- チャットが表示される領域 -->
      </div>
        <div class="input_text_space">
            <input type="text" id="user-input" class="no-border-input" placeholder="テキストを入力">
            <button id="send-button" class="text_push"><h1>↑</h1></button>
        </div>
    </div>
    <form class="Category">
        <h3 class="title" data-lang-key="title">＜カテゴリー＞</h3>
        <label>
            <input type="radio" name="options" value="option1"> <span data-lang-key="option1">一般タスク</span>
        </label><br>
        <label>
          <input type="radio" name="options" value="option2">資格・試験:
        </label><br>
        <label>
          <input type="radio" name="options" value="option3">プログラム開発:
        </label><br>
    </form>
    <!--一般タスク用項目-->
    <div class="task" id="category1">
    </div>
    <!--資格・試験用項目-->
    <div class="qualification" id="category2" style="display: none;">
    </div>
    <!--プログラム開発用項目-->
    <div class="development" id="category3" style="display: none;">
        <form class="system-name">
            <h3 class="title">＜作成したいシステム名＞</h3>
            <div class="input_space">
                <input type="text" id="customText" name="customText" class="text-input"><br>
            </div>
        </form>
        <!--プロジェクトカラーの選択-->
        <form>
          <h3 class="title">＜カラー＞</h3>
          <div id="colorPicker">
            <div class="color-choice" style="background-color: #F7928C;" onclick="selectColor(this)"></div>
            <div class="color-choice" style="background-color: #F9C76F;" onclick="selectColor(this)"></div>
            <div class="color-choice" style="background-color: #FFE48A;" onclick="selectColor(this)"></div>
            <div class="color-choice" style="background-color: #E8E87D;" onclick="selectColor(this)"></div>
            <div class="color-choice" style="background-color: #9FE897;" onclick="selectColor(this)"></div>
            <div class="color-choice" style="background-color: #48E6E3;" onclick="selectColor(this)"></div>
            <div class="color-choice" style="background-color: #16C0F1;" onclick="selectColor(this)"></div>
            <div class="color-choice" style="background-color: #61A5FF;" onclick="selectColor(this)"></div>
            
          </div>
        </form>
        <div class="day_block">
          <!--プロジェクトの開始日を選択-->
          <form class="start_day">
            <h3 class="title">＜開始日＞</h3>
            <input type="date" id="start_date" name="start_date">
          </form>
          <form class="make-day">
              <h3 class="title" id="make_day">＜作成日数＞</h3>
              <div class="input_space">
                  <input type="text" id="customText" name="customText" class="text-input"><br>
              </div>
          </form>
        </div>
        <form class="custom">
            <div class="text">
                <h3 class="title">＜具体的な機能＞</h3><p>※最低3つ以上必要です</p>
            </div>
            <div class="input_space" id="inputSpace">
                <div class="tipe" id="functionFields">
                    <input type="text" id="functionText1" name="customText" class="text-input2"><br>
                    <input type="text" id="functionText2" name="customText" class="text-input2"><br>
                    <input type="text" id="functionText3" name="customText" class="text-input2"><br>
                </div>
                <button type="button" id="addButton" class="add-button">+</button>
            </div>
        </form>
        <form class="use_lang_space">
            <div class="po">
              <h3 class="title">＜使用する言語＞</h3>
              <button class="create_button2">自動選択する</button>
            </div>
            <div class="use_lang">
                <label>
                    <input type="checkbox" name="option1" value="Python" class="lang">Python
                  </label><br>
                  <label>
                    <input type="checkbox" name="option2" value="Java" class="lang">Java
                  </label><br>
                  <label>
                    <input type="checkbox" name="option3" value="C/C++" class="lang">C / C++
                  </label><br>
                  <label>
                    <input type="checkbox" name="option4" value="C#" class="lang">C#
                  </label><br>
                  <label>
                    <input type="checkbox" name="option5" value="Swift" class="lang">Swift
                  </label><br>
                  <label>
                    <input type="checkbox" name="option6" value="PHP" class="lang">PHP
                  </label><br>
                  <label>
                      <input type="checkbox" name="option1" value="Ruby" class="lang">Ruby
                    </label><br>
                    <label>
                      <input type="checkbox" name="option2" value="HTMI/CSS" class="lang">HTML / CSS
                    </label><br>
                    <label>
                      <input type="checkbox" name="option3" value="javascript" class="lang">javascript
                    </label><br>
                    <label>
                      <input type="checkbox" name="option4" value="Kotlin" class="lang">Kotlin
                    </label><br>
                    <label>
                      <input type="checkbox" name="option5" value="GO" class="lang">GO言語
                    </label><br>
                    <label>
                      <input type="checkbox" name="option6" value="R" class="lang">R言語
                    </label><br>
                    <label>
                        <input type="checkbox" name="option6" value="SQL" class="lang">SQL言語
                      </label><br>
            </div>
          </form>
          <form>
            <h3 class="title">＜使用するツール・プラットフォーム＞</h3>
            <div class="use_lang">
                <label>
                    <input type="checkbox" name="option1" value="Azure" class="lang">Azure
                  </label><br>
                  <label>
                    <input type="checkbox" name="option2" value="GCP" class="lang">GCP
                  </label><br>
                  <label>
                    <input type="checkbox" name="option3" value="AWS" class="lang">AWS
                  </label><br>
                  <label>
                    <input type="checkbox" name="option4" value="Firebase" class="lang">Firebase
                  </label><br>
                  <label>
                    <input type="checkbox" name="option5" value="GitHub" class="lang">GitHub
                  </label><br>
                  <label>
                    <input type="checkbox" name="option6" value="Docker" class="lang">Docker
                  </label><br>
                  <label>
                      <input type="checkbox" name="option1" value="GitLab" class="lang">GitLab
                    </label><br>
                    <label>
                      <input type="checkbox" name="option2" value="Postman" class="lang">Postman
                    </label><br>
                    <label>
                      <input type="checkbox" name="option3" value="Swagger" class="lang">Swagger
                    </label><br>
                    <label>
                      <input type="checkbox" name="option4" value="DigitalOcean" class="lang">DigitalOcean
                    </label><br>
                    <label>
                      <input type="checkbox" name="option5" value="Heroku" class="lang">Heroku
                    </label><br>
                    <label>
                      <input type="checkbox" name="option6" value="Oracle Cloud" class="lang">Oracle Cloud
                    </label><br>
                    <label>
                        <input type="checkbox" name="option6" value="MySQL" class="lang">MySQL
                      </label><br>
            </div>
          </form>
          <button class="create_button">プロジェクトを作成</button>
    </div>
    <!--英語用に切り替える-->
  <div class="model_window_space" id="English">
    <div class="language-switch">
        <button id="switch-lang">English / 日本語</button>
    </div>
    <div class="ai_chat_space" id="chat-ai-eng" style="display: none;">
      <div id="chat-area-eng">
        <!-- チャットが表示される領域 -->
      </div>
        <div class="input_text_space">
            <input type="text" id="user-input-eng" class="no-border-input" placeholder="Send a message">
            <button class="text_push" id="send-button-eng"><h1>↑</h1></button>
        </div>
    </div>
    <form class="CategoryEng">
        <h3 class="title" data-lang-key="title">＜Category＞</h3>
        <label>
            <input type="radio" name="options" value="option1"> <span data-lang-key="option1">General tasks</span>>
        </label><br>
        <label>
          <input type="radio" name="options" value="option2">Qualification/Examination:
        </label><br>
        <label>
          <input type="radio" name="options" value="option3">Program development:
        </label><br>
    </form>
    <!--一般タスク用項目-->
    <div class="task" id="category1">
    </div>
    <!--資格・試験用項目-->
    <div class="qualification" id="category2" style="display: none;">
    </div>
    <!--プログラム開発用項目-->
    <div class="development" id="category3" style="display: none;">
        <form class="system-name">
            <h3 class="title">＜Name of the system you want to create＞</h3>
            <div class="input_space">
                <input type="text" id="customText" name="customText" class="text-input"><br>
            </div>
        </form>
        <form class="make-day">
            <h3 class="title">＜Creation days＞</h3>
            <div class="input_space">
                <input type="text" id="customText" name="customText" class="text-input"><br>
            </div>
        </form>
        <form class="custom">
            <div class="text">
                <h3 class="title">＜Specific functions＞</h3><p>※At least 3 required</p>
            </div>
            <div class="input_space" id="inputSpace">
                <div class="tipe" id="functionFields">
                    <input type="text" id="functionText1" name="customText" class="text-input2"><br>
                    <input type="text" id="functionText2" name="customText" class="text-input2"><br>
                    <input type="text" id="functionText3" name="customText" class="text-input2"><br>
                </div>
                <button type="button" id="addButton" class="add-button">+</button>
            </div>
        </form>
        <form class="use_lang_space">
            <div class="po">
              <h3 class="title">＜Language used＞</h3>
              <button class="create_button2">Automatically select</button>
            </div>
            <div class="use_lang">
                <label>
                    <input type="checkbox" name="option1" value="Python" class="lang">Python
                  </label><br>
                  <label>
                    <input type="checkbox" name="option2" value="Java" class="lang">Java
                  </label><br>
                  <label>
                    <input type="checkbox" name="option3" value="C/C++" class="lang">C / C++
                  </label><br>
                  <label>
                    <input type="checkbox" name="option4" value="C#" class="lang">C#
                  </label><br>
                  <label>
                    <input type="checkbox" name="option5" value="Swift" class="lang">Swift
                  </label><br>
                  <label>
                    <input type="checkbox" name="option6" value="PHP" class="lang">PHP
                  </label><br>
                  <label>
                      <input type="checkbox" name="option1" value="Ruby" class="lang">Ruby
                    </label><br>
                    <label>
                      <input type="checkbox" name="option2" value="HTMI/CSS" class="lang">HTML / CSS
                    </label><br>
                    <label>
                      <input type="checkbox" name="option3" value="javascript" class="lang">javascript
                    </label><br>
                    <label>
                      <input type="checkbox" name="option4" value="Kotlin" class="lang">Kotlin
                    </label><br>
                    <label>
                      <input type="checkbox" name="option5" value="GO" class="lang">GO
                    </label><br>
                    <label>
                      <input type="checkbox" name="option6" value="R" class="lang">R
                    </label><br>
                    <label>
                        <input type="checkbox" name="option6" value="SQL" class="lang">SQL
                      </label><br>
            </div>
          </form>
          <form>
            <h3 class="title">＜Tool platform used＞</h3>
            <div class="use_lang">
                <label>
                    <input type="checkbox" name="option1" value="Azure" class="lang">Azure
                  </label><br>
                  <label>
                    <input type="checkbox" name="option2" value="GCP" class="lang">GCP
                  </label><br>
                  <label>
                    <input type="checkbox" name="option3" value="AWS" class="lang">AWS
                  </label><br>
                  <label>
                    <input type="checkbox" name="option4" value="Firebase" class="lang">Firebase
                  </label><br>
                  <label>
                    <input type="checkbox" name="option5" value="GitHub" class="lang">GitHub
                  </label><br>
                  <label>
                    <input type="checkbox" name="option6" value="Docker" class="lang">Docker
                  </label><br>
                  <label>
                      <input type="checkbox" name="option1" value="GitLab" class="lang">GitLab
                    </label><br>
                    <label>
                      <input type="checkbox" name="option2" value="Postman" class="lang">Postman
                    </label><br>
                    <label>
                      <input type="checkbox" name="option3" value="Swagger" class="lang">Swagger
                    </label><br>
                    <label>
                      <input type="checkbox" name="option4" value="DigitalOcean" class="lang">DigitalOcean
                    </label><br>
                    <label>
                      <input type="checkbox" name="option5" value="Heroku" class="lang">Heroku
                    </label><br>
                    <label>
                      <input type="checkbox" name="option6" value="Oracle Cloud" class="lang">Oracle Cloud
                    </label><br>
                    <label>
                        <input type="checkbox" name="option6" value="MySQL" class="lang">MySQL
                      </label><br>
            </div>
          </form>
          <button class="create_button">Create Project</button>
    </div>
</div>
</div>
<div class="loading_container">
  <div class='loading'>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
  </div>
  <div class="adv">
    <p id="advice"></p>
  </div>
</div>

<script>
  const tips = [
  "深呼吸をすることで、集中力が高まり、ストレスが減少します。",
    "タイマーを設定して、短時間集中することで効率的な作業が可能になります。",
    "睡眠は集中力を高め、ストレスを減らすのに不可欠です。十分な睡眠をとりましょう。",
    "瞑想やヨガは、集中力を高めるのに効果的な方法です。",
    "短い休憩を取ることで、長時間の作業における集中力が保たれます。",
    "目標を細分化することで、時間管理がしやすくなります。",
    "ストレスを感じたときは、自然の中で時間を過ごすことが助けになります。",
    "音楽を聴くことで、集中力を高めることができます。",
    "優先順位をつけることで、時間を効率的に使えます。",
    "良い姿勢を保つことで、集中力が向上します。",
    "仕事の前に短い運動をすると、集中力が高まります。",
    "ストレスを感じたら、書き出してみると良いでしょう。",
    "1日の終わりに次の日の計画を立てると、時間管理が楽になります。",
    "良い食事は、エネルギーレベルを保ち、集中力を高めます。",
    "仕事と休息のバランスを取ることが重要です。",
    "デジタルデトックスを行うと、集中力が向上します。",
    "自分のリズムを知ることで、時間管理がしやすくなります。",
    "目標を視覚化することで、達成へのモチベーションが高まります。",
    "ストレスは逃げるのではなく、向き合うことで管理できます。",
    "自分自身に対して優しいことは、ストレス管理に役立ちます。"
  ];
  function showRandomTip() {
  const adviceElement = document.getElementById("advice");
  const randomIndex = Math.floor(Math.random() * tips.length);
  const newText = tips[randomIndex];

  // 現在のテキストを取得
  const currentChars = adviceElement.innerText.split('');

  // 新しいテキストを1文字ずつのspan要素に分割し、アニメーションを適用
  const newChars = newText.split('');
  const maxLength = Math.max(currentChars.length, newChars.length);

  adviceElement.innerHTML = newChars.map((char, index) => 
    `<span class="flip" style="animation-delay: ${index * 0.05}s;">${currentChars[index] || ''}</span>`
  ).join('');

  // 半回転する前に新しい文字に置き換え
  const chars = adviceElement.querySelectorAll('.flip');
  chars.forEach((char, index) => {
    setTimeout(() => {
      char.innerText = newChars[index] || '';
    }, index * 0.1 * 1000); // アニメーション遅延の前に置き換え
  });
}

showRandomTip();
setInterval(showRandomTip, 10000); // 10秒ごとに切り替え
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      // ラジオボタンの選択を監視する
      document.querySelectorAll('#Japanese form.Category input[type="radio"]').forEach(function(radio) {
          radio.addEventListener('change', function() {
              // すべてのカテゴリー関連のdivを非表示にする
              document.getElementById('category1').style.display = 'none';
              document.getElementById('category2').style.display = 'none';
              document.getElementById('category3').style.display = 'none';
              document.getElementById('chat-ai').style.display = 'none';
              // 選択されたラジオボタンに応じて適切なdivを表示する
              switch (this.value) {
                  case 'option1':
                      document.getElementById('category1').style.display = '';
                      alert('現在作成中です。現在は、プログラム開発のみ利用できます。');
                      break;
                  case 'option2':
                      document.getElementById('category2').style.display = '';
                      alert('現在作成中です。現在は、プログラム開発のみ利用できます。');
                      break;
                  case 'option3':
                      document.getElementById('category3').style.display = '';
                      document.getElementById('chat-ai').style.display = '';
                      break;
              }
          });
      });
  });
</script>
<!--英語版のラジオボタンの監視-->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      // 英語版のラジオボタンの選択を監視
      document.querySelectorAll('#English .CategoryEng input[type="radio"]').forEach(function(radio) {
          radio.addEventListener('change', function() {
              // すべてのカテゴリー関連のdivを非表示にする
              document.querySelectorAll('#English .task, #English .qualification, #English .development, #English #chat-ai').forEach(div => div.style.display = 'none');
              // 選択されたラジオボタンに応じて適切なdivを表示する
              switch (this.value) {
                  case 'option1':
                      document.querySelector('#English .task').style.display = '';
                      alert('Currently under construction. Only program development is available now.');
                      break;
                  case 'option2':
                      document.querySelector('#English .qualification').style.display = '';
                      alert('Currently under construction. Only program development is available now.');
                      break;
                  case 'option3':
                      document.querySelector('#English .development').style.display = '';
                      document.querySelector('#English #chat-ai-eng').style.display = '';
                      break;
              }
          });
      });
  });
</script>
        
        
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const maxFields = 10;
            const addButton = document.getElementById('addButton');
            const functionFields = document.getElementById('functionFields');

            addButton.addEventListener('click', function() {
                const totalInputs = functionFields.querySelectorAll('input').length;
                
                if (totalInputs < maxFields) {
                    const newInput = document.createElement('input');
                    newInput.type = 'text';
                    newInput.name = 'customText';
                    newInput.className = 'text-input2';
                    functionFields.appendChild(newInput);
                    functionFields.appendChild(document.createElement('br'));
                }
            });
        });
    </script>

    <script>
      // 選択されたカラーを保存する変数
      let selectedColor = null;

      // カラー選択時の処理
      function selectColor(element) {
        // すべての色選択肢から 'selected' クラスを削除
        document.querySelectorAll('.color-choice').forEach(function(choice) {
          choice.classList.remove('selected');
        });
        
        // クリックされた要素に 'selected' クラスを追加
        element.classList.add('selected');

        // 計算されたスタイルから背景色を取得して変数に保存
        selectedColor = window.getComputedStyle(element).backgroundColor;
      }
    

      document.addEventListener('DOMContentLoaded', function() {
          const createButton = document.querySelector('.create_button');
          const loadingDiv = document.querySelector('.loading');
  
          createButton.addEventListener('click', function() {
              // カテゴリーの値を取得
              const category = document.querySelector('form.Category input[type="radio"]:checked')?.value;
  
              // システム名を取得
              const systemName = document.querySelector('.system-name .text-input')?.value;
  
              // 作成日数を取得
              const makeDay = document.querySelector('.make-day .text-input')?.value;
  
              // 具体的な機能を取得
              const functions = [];
              document.querySelectorAll('.custom .text-input2').forEach(function(input) {
                  functions.push(input.value);
              });
  
              // 使用する言語を取得
              const languages = [];
              document.querySelectorAll('.use_lang_space .lang:checked').forEach(function(checkbox) {
                  languages.push(checkbox.value);
              });
  
              // 使用するツール・プラットフォームを取得
              const tools = [];
              document.querySelectorAll('.use_lang .lang:checked').forEach(function(checkbox) {
                  tools.push(checkbox.value);
              });

              const startDate = document.querySelector('#start_date').value;
  
              // コンソールに出力（デバッグ用）
              console.log('カテゴリー:', category);
              console.log('システム名:', systemName);
              console.log('作成日数:', makeDay);
              console.log('具体的な機能:', functions);
              console.log('使用する言語:', languages);
              console.log('使用するツール・プラットフォーム:', tools);
              console.log('選択されたカラー:', selectedColor);
              console.log('開始日:', startDate);
              // 送信するデータを準備
              const data = {
                  'language':"Japanese",
                  'category': category,
                  'systemName': systemName,
                  'makeDay': makeDay,
                  'functions': functions,
                  'languages': languages,
                  'tools': tools,
                  'selectedColor': selectedColor, // 追加
                  'startDate': startDate, // 追加
              };
  
              loadingDiv.style.display = 'flex';
  
              // AJAXを使ってサーバーにデータを送信
              fetch('/create_project', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
              // ローディング画面を非表示
              loadingDiv.style.display = 'none';
  
              // レスポンスの処理
              console.log('Response:', data);
              if (data.redirect) {
                  window.location.href = data.redirect_url;
              } else {
                  alert('プロジェクトを作成できませんでした。もう一度作成して見てください');
              }
          })
          .catch((error) => {
            loadingDiv.style.display = 'none';
          console.error('Error:', error);
        });
      });
  });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const loadingDiv = document.querySelector('.loading');
        const createButtonEng = document.querySelector('#English .create_button');
        createButtonEng.addEventListener('click', function() {
            // 英語版のカテゴリーの値を取得
            const categoryEng = document.querySelector('#English .CategoryEng input[type="radio"]:checked')?.value;
            // 英語版のシステム名を取得
            const systemNameEng = document.querySelector('#English .system-name .text-input')?.value;
            // 英語版の作成日数を取得
            const makeDayEng = document.querySelector('#English .make-day .text-input')?.value;
            // 英語版の具体的な機能を取得
            const functionsEng = [];
            document.querySelectorAll('#English .custom .text-input2').forEach(function(input) {
                functionsEng.push(input.value);
            });
            // 英語版で使用する言語を取得
            const languagesEng = [];
            document
    .querySelectorAll('#English .use_lang_space .lang:checked').forEach(function(checkbox) {
    languagesEng.push(checkbox.value);
    });
        // 英語版で使用するツール・プラットフォームを取得
        const toolsEng = [];
        document.querySelectorAll('#English .use_lang .lang:checked').forEach(function(checkbox) {
            toolsEng.push(checkbox.value);
        });
        // コンソールに出力（デバッグ用）
        console.log('Category:', categoryEng);
        console.log('System Name:', systemNameEng);
        console.log('Creation Days:', makeDayEng);
        console.log('Specific Functions:', functionsEng);
        console.log('Languages Used:', languagesEng);
        console.log('Tools/Platforms Used:', toolsEng);
        // 送信するデータを準備
        const dataEng = {
            'language':"English",
            'category': categoryEng,
            'systemName': systemNameEng,
            'makeDay': makeDayEng,
            'functions': functionsEng,
            'languages': languagesEng,
            'tools': toolsEng
        };
  
        loadingDiv.style.display = 'flex';
        
        // AJAXを使ってサーバーにデータを送信
        fetch('/create_project', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dataEng)
        })
        .then(response => response.json())
        .then(data => {
          // ローディング画面を非表示
          loadingDiv.style.display = 'none';
            console.log('Response:', data);
            if (data.redirect
          ) {
          // リダイレクトが必要な場合、指定されたURLにリダイレクト
          window.location.href = data.redirect_url;
        } else {
                alert('Could not create project. Please try creating it again' );
              }
        })
        .catch((error) => {
          loadingDiv.style.display = 'none';
            console.error('Error:', error);
        });
    });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const createButton = document.querySelector('.create_button');

        createButton.addEventListener('click', function() {
            let isValid = true;
            let firstInvalidElement = null;

            // 入力欄の枠線の色をリセットする関数
            const resetBorderColor = (element) => {
                element.style.borderColor = '';
            };

            // 各フォーム要素を確認
            const category = document.querySelector('form.Category input[type="radio"]:checked');
            const systemName = document.querySelector('.system-name .text-input');
            const makeDay = document.querySelector('.make-day .text-input');

            // すべての入力欄の枠線をリセット
            [systemName, makeDay].forEach(resetBorderColor);
            document.querySelectorAll('.custom .text-input2').forEach(resetBorderColor);

            // カテゴリーの確認
            if (!category) {
                isValid = false;
            }

            // システム名の確認
            if (!systemName.value) {
                systemName.style.borderColor = 'red';
                isValid = false;
                firstInvalidElement = firstInvalidElement || systemName;
            }

            // 作成日数の確認
            if (!makeDay.value) {
                makeDay.style.borderColor = 'red';
                isValid = false;
                firstInvalidElement = firstInvalidElement || makeDay;
            }

            // 具体的な機能の確認
            document.querySelectorAll('.custom .text-input2').forEach(function(input) {
                if (!input.value) {
                    input.style.borderColor = 'red';
                    isValid = false;
                    firstInvalidElement = firstInvalidElement || input;
                }
            });

            // 入力が不足している場合の処理
            if (!isValid && firstInvalidElement) {
                // 最初の無効な要素にスクロールする
                firstInvalidElement.scrollIntoView({ behavior: 'smooth', block: 'center' });
                return;
            }

            // ここでデータの処理を続行
        });
    });
  </script>
  
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const switchLangButtons = document.querySelectorAll('.language-switch button');
    switchLangButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            const japaneseContent = document.getElementById('Japanese');
            const englishContent = document.getElementById('English');
            if (englishContent.style.display === 'none') {
                englishContent.style.display = 'block';
                japaneseContent.style.display = 'block';
            } else {
                englishContent.style.display = 'none';
                japaneseContent.style.display = 'block';
            }
        });
    });
});
</script>
  <script>
    document.getElementById('send-button').addEventListener('click', function() {
      var userInput = document.getElementById('user-input').value;
  if (userInput.trim()) {
    // ユーザーの入力をチャットエリアに追加
    var chatArea = document.getElementById('chat-area');
    var userDiv = document.createElement('div');
    userDiv.textContent = 'You: ' + userInput;
    userDiv.className = 'user-message'; // ユーザーメッセージ用のクラス名を設定
    chatArea.appendChild(userDiv);
    // 入力をFlaskに送信し、AIの応答を受け取る
    fetch('/get_ai_response', {
      method: 'POST',
      body: JSON.stringify({ 'text': userInput }),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then(data => {
      // AIの応答をチャットエリアに追加
      var aiDiv = document.createElement('div');
      aiDiv.textContent = 'AI: ' + data.response;
      aiDiv.className = 'ai-message'; // AIメッセージ用のクラス名を設定
      chatArea.appendChild(aiDiv);
    })
    .catch(error => console.error('Error:', error));
    // 入力フィールドをクリア
    document.getElementById('user-input').value = '';
  }
});
    </script>
    <script>
      document.getElementById('send-button-eng').addEventListener('click', function() {
    var userInput
= document.getElementById('user-input-eng').value;
if (userInput.trim()) {
// ユーザーの入力をチャットエリアに追加
var chatArea = document.getElementById('chat-area-eng');
var userDiv = document.createElement('div');
userDiv.textContent = 'You: ' + userInput;
userDiv.className = 'user-message';
chatArea.appendChild(userDiv);
    // 入力をFlaskに送信し、AIの応答を受け取る
    fetch('/get_ai_response_eng', {
        method: 'POST',
        body: JSON.stringify({ 'text': userInput }),
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        // AIの応答をチャットエリアに追加
        var aiDiv = document.createElement('div');
        aiDiv.textContent = 'AI: ' + data.response;
        aiDiv.className = 'ai-message';
        chatArea.appendChild(aiDiv);
    })
    .catch(error => console.error('Error:', error));
    // 入力フィールドをクリア
    document.getElementById('user-input-eng').value = '';
}
});
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    // "自動選択する"ボタンのクリックイベントを監視
    const autoSelectButton = document.querySelector('.create_button2');
    autoSelectButton.addEventListener('click', function(event) {
        event.preventDefault(); // フォームの自動送信を防止

        // 機能の入力欄からデータを取得
        const functions = [];
        document.querySelectorAll('.custom .text-input2').forEach(function(input) {
            if(input.value.trim() !== '') {
                functions.push(input.value.trim());
            }
        });

        // データをJSON形式に整形
        const data = {
            'functions': functions
        };

        // FlaskのエンドポイントにデータをPOSTリクエストで送信
        fetch('/auto_select_language', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            // 応答に基づいてチェックボックスを自動選択
            const langCheckboxes = document.querySelectorAll('.use_lang .lang');
            langCheckboxes.forEach(checkbox => {
                // チェックボックスの値が応答に含まれる言語のリストにあればチェックする
                if(data.languages.includes(checkbox.value)) {
                    checkbox.checked = true;
                } else {
                    checkbox.checked = false;
                }
            });
        })
        .catch(error => console.error('Error:', error));
    });
});

</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // 英語版の "自動選択する" ボタンのクリックイベントを監視
    const autoSelectButtonEng = document.querySelector('#English .create_button2');
    autoSelectButtonEng.addEventListener('click', function(event) {
        event.preventDefault(); // フォームの自動送信を防止

        // 英語版の機能の入力欄からデータを取得
        const functionsEng = [];
        document.querySelectorAll('#English .custom .text-input2').forEach(function(input) {
            if(input.value.trim() !== '') {
                functionsEng.push(input.value.trim());
            }
        });

        // データをJSON形式に整形
        const dataEng = {
            'functions': functionsEng
        };

        // FlaskのエンドポイントにデータをPOSTリクエストで送信
        fetch('/auto_select_language', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dataEng)
        })
        .then(response => response.json())
        .then(data => {
            // 応答に基づいて英語版のチェックボックスを自動選択
            const langCheckboxesEng = document.querySelectorAll('#English .use_lang .lang');
            langCheckboxesEng.forEach(checkbox => {
                // チェックボックスの値が応答に含まれる言語のリストにあればチェックする
                if(data.languages.includes(checkbox.value)) {
                    checkbox.checked = true;
                } else {
                    checkbox.checked = false;
                }
            });
        })
        .catch(error => console.error('Error:', error));
    });
});
</script>

<script>
  function selectColor(element) {
  // すべての色選択肢から 'selected' クラスを削除
  document.querySelectorAll('.color-choice').forEach(function(choice) {
    choice.classList.remove('selected');
  });
  
  // クリックされた要素に 'selected' クラスを追加
  element.classList.add('selected');

  // 計算されたスタイルから背景色を取得して、選択されたカラーとして保管
  selectedColor = window.getComputedStyle(element).backgroundColor;
}

</body>
</html>